/* Cores globais */

:root {
    --bg-color: #050a11;
    --surface-color: #0b111a;
    --border-color: #1a2332;
    --accent-cyan: #00e5ff;
    --text-primary: #ffffff;
    --text-secondary: #8c9baf;
}

/* Ajustes básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Navegação do Site */
header {
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

.nav-container {
    display: block;
}

.text-accent { 
    color: var(--accent-cyan); 
}
.logo-icon { 
    background-color: var(--accent-cyan); 
}

nav a {
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--text-primary);
}